*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 15px 0;
}
footer{
    padding: 70px 0;
    background-color: black;
    color: white;
}
.container-padding{
    padding: 10px;
}
.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.row-left{
display: flex;
align-items: center;
}
.a-header{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.button-header{
    background-color: blue;
    padding: 8px;
    color: white;
    border: none;
}
/* inizio main */
.container-main1{
    background-color: #B4D0E7ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-top-70{
    margin-top: 70px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-left-70{
    margin-left: 70px;
}
h1{
    text-align: center;
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
ul li{
    list-style-type: none;
}
.container-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}
.content-main1{
    width: 30%;
}
.dim-img1{
    width: 70%;
}
/* contenitori */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* fine contenitori */
/* righe */
.row{
    display: flex;
    flex-wrap: wrap;
}
/* fine righe */
/* colonne */
.col-100{
    width: 100%;
}
.col-60{
    width: 60%;
}
.col-50{
    width: 50%;
}
.col-40{
    width: 40%;
}
.col-33{
    width: calc(100% / 3);
}
.col-20{
    width: calc(20% - 20px);
}
/* fine colonne */
.content{
    margin: 10px;
}
.height-500{
    height: 500px;
}
.height-100{
    height: 100px;
}
.height-300{
    height: 300px;
}
.min-height{
    min-height: 400px;
}
.height-50{
    height: 50px;
}
.text-align-center{
    text-align: center;
}
.border-bottom{
    border-bottom: 1px solid black;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.border-black{
    border: 1px solid black;
}
.square-section{
    display: flex;
}
.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: silver;
}
.small-square{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
}
.position-absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.height-full{
    height: 100%;
}
.height-100{
    height: 100px;
}
.bg-lightskyblue{
    background-color: lightskyblue;
}
.padding-top{
    padding-top: 50px;
}
.padding-bottom{
    padding-bottom: 50px;
}
.padding-20{
    padding: 20px;
}
.margin-bottom-75{
    margin-bottom: 75px;
}
.margin-top-40{
    margin-top: 40px;
}
.padding-bottom-115{
    padding-bottom: 115px;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-top-100{
    padding-top: 100px;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}
.padding-bottom-83{
    padding-bottom: 83px;
}
.background-img-partner{
    background-image: url(../img/partner.png);
    background-size: cover;
}
.dim-img-business{
    height: 200px;
}

.justify-content-center{
    justify-content: center;
}
.padding-bottom{
    padding-bottom: 5px;
}
.padding-top-30{
    padding-top: 30px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.text-align-left{
    text-align: left;
}
.padding-left{
    padding-left: 20px;
}
.padding-left-260{
    padding-left: 260px;
}
.color-gray{
    color: gray;
}
.button-dropbox{
    color: rgb(37, 37, 37);
    padding: 10px;
    background-color: white;
}
.font{
    font-size: x-large;
}
main hr{
    width: 900px;
}
footer hr{
    width: 100px;
}
.width-150{
    width: 150px;
}
.bg-1{
    background-color: #A2D39Bff;
    height: 80%;
    width: 80%;
    
}
.bg{
    background-color: #D1E9CDff;
}
.bg-2{
    background-color: #61082Bff;;
}
.bg-3{
    background-color: #0093CEff;;
}
.bg-4{
    background-color: #FF1C1C;
}
.bg-5{
    background-color: #D5001Fff;;
}
.bg-6{
    background-color: #B4D0E7ff;;
}
.bg-7{
    background-color:#0D2481ff; 
}